<div class="flex justify-center pt-24 pb-12 px-2 sm:px-0">
  <img
    src={~p"/images/phoenix_docker.png"}
    width="200"
    height="200"
    alt="Phoenix + Docker logo"
  />
</div>

<div class="flex-1 flex items-center">
  <span class="flex">
    <Heroicons.cog class="w-7 h-7 text-black" stroke-width="2" />
  </span>
  <p class="text-center text-2xl ml-2">
    Dockerized Phoenix App Boilerplate
  </p>
</div>
